:root {

  --box {
    padding: 8px 24px;
  }

  --flexNotMoreThan200 {
    flex: 0 1 200px;
  }

  --fullSizeResizebleImage{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}
