@import '../common/typography';
@import '../common/layout';

.header {
  @apply --heading;
  text-align: center;
}

.img_bkg{
  @apply --fullSizeResizebleImage;
  position: fixed;
  margin: 0px;
  padding: 0px;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.description { @apply --normal; }
.contribute { @apply --small; }
